:root {
    --color-def: rgb(109 255 107);
}

body {
    margin: 0;
    padding: 0;
}

.bacground_main {
    background: #f7f7f7;
}

.header_description {
    font-size: 42px;
    color: #222;
    padding: 30px 0px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.center_content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left_content {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    align-items: flex-end;
}

.right_content {
    display: flex;
    flex-direction: column;
    width: 74%;
    height: 100%;
    align-items: flex-start;
}

.market_list {
    display: grid;
    width: -webkit-fill-available;
    grid-template-columns: repeat(2, 50%);
    margin: 0px 20px 20px 0px;
    background: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 4px;
    justify-content: start;
}

.product_list {
    width: -webkit-fill-available;
    margin: 0px 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.product {
    border-radius: 4px;
    padding: 20px;
    text-align-last: center;
}

.product:hover {
    background-color: var(--color-def);
}

.product-filter {
    border-radius: 4px;
    padding: 20px;
    text-align-last: center;
}

.product-filter:hover {
    background-color: var(--color-def);
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.pay_button {
    background-color: rgb(205, 205, 205);
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
}

.pay_button:hover {
    background-color: var(--color-def);
}

.product_prev {
    transition: width .3s, height .3s;
    background: none;
    border-radius: 4px;
    width: -webkit-fill-available;
    height: 185px;
    flex: none;
    background-color: #ededed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: block;
}

.name_product {
    width: min-content;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(46 46 46);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.line {
    background: #ddd;
    margin: 5px 0;
    height: 1px;
    border-radius: 2px;
}

.price_product {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 200;
    color: rgb(46 46 46);
}

.discription_product {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 100;
}

.product_count {
    margin: 20px 0px;
    width: 20px;
    user-select: none;
    border-radius: 14px;
    border: 1px solid #ddd;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}