@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-def: rgba(255, 255, 255, 0.013);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.bacground-main {
  background: #1c1c1c;
}

.basket-list {
  background: #562725;
  border: 1px solid #AF504D;
  border-radius: 6px;
}

.baslet-tile {
  padding: 20px;
  display: flex;
  position: relative;
  gap: 25px;
  background: #00000022;
  font-size: 20px;
  overflow: hidden;
  align-items: center;
}

.basket-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.center-content {
  display: -webkit-box;
}

.container-product-btn {
  display: flex;
}

.left-content {
  gap: 20px;
  display: flex;
  flex: 0 0 195px;
  padding: 40px 20px;
  background: #220D0C;
  flex-direction: column;
  transition: 0.2s ease-in-out;
}

.left-content:hover {
  gap: 40px;
  padding: 40px;
  flex: 0 0 370px;
}

.right-content {
  display: flex;
  padding: 40px;
  background: #1C0C0B;
  -webkit-box-flex: 1;
}

.matrix {
  position: absolute;
  transform: matrix(1, 0, 3.8, 21.3, 17.4, 92.6);
  opacity: 0.2;
}

#modal {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00000099;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.modal-resize {
  background: antiquewhite;
  width: 80%;
}

.market-list {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  justify-content: center;
  width: -webkit-fill-available;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.product-list {
  gap: 10px;
  opacity: 0.5;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  transition: 0.2s ease-in-out;
  transform: translateY(0px) translateX(0px);
  box-shadow: 0px 0px 0px rgb(255 255 255 / 10%);
}

.product-filter-title {
  color: #FF4438;
  font-weight: 600;
}

.product {
  width: 23%;
  display: flex;
  height: 390px;
  border-radius: 4px;
  flex-direction: column;
  margin: 10px 10px 30px 10px;
  transition: 0.2s ease-in-out;
  transform: translateY(0px) translateX(0px);
  box-shadow: 0px 0px 0px rgb(255 255 255 / 10%);
}



@media (max-width: 1708px) {
  .product {
    width: 31%;
  }
}

@media (max-width: 1366px) {
  .product {
    width: 47%;
  }
}

@media (max-width: 1244px) {
  .product {
    width: 100%;
  }
}

.product:hover {
  margin: 0;
  background: #612521;
  padding: 10px 10px 30px 10px;
  box-shadow: 5px -5px 0px #FF4438;
  transform: translateY(-5px) translateX(-5px);
}

.left-content:hover .product-filter {
  width: 100%;
  padding: 10px 40px;
  justify-content: flex-start;
}

.left-content:hover .product-list {
  opacity: 1;
}

.left-content:hover .product-filter-name {
  opacity: 1;
  font-size: 16px;
  transition: 0.5s ease-in-out;
}

.product-filter-name {
  opacity: 0;
  width: 100%;
  display: flex;
  font-size: 16px;
  margin-left: 60px;
  position: absolute;
  transition: 0.2s ease-in-out;
}

.product-filter {
  gap: 20px;
  color: white;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 70px;
  border-radius: 6px;
  align-items: center;
  border: 1px solid #AF504D;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  background: linear-gradient(167deg, #592926 -6.45%, #220D0C 66.25%);
}

.product-filter:hover {
  gap: 20px;
  border-left: 10px solid #ff584f;
}

.container,
.product-basket {
  display: flex;
  margin: 10px 20px;
  border-bottom: 1px solid #00000038;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.pay-button {
  border: 0px;
  width: 124px;
  height: 40px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto 0 0;
  background: #FF4438;
  border-radius: 39px;
  transition: 0.2s ease-in-out;
}

.pay-button:hover {
  background-color: #ff2c1d;
}

.product-prev {
  flex: none;
  height: 230px;
  border-radius: 6px;
  background-size: contain;
  background-position: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: -webkit-fill-available;
}

.text-input {
  margin: 0;
  border: 0px;
  width: 124px;
  height: 40px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  background: none;
  transition: 0.2s ease-in-out;
  text-align-last: center;
}

.text-input:hover {
  background: #562725;
}

.name-product {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-style: normal;
  padding: 20px 0 5px 0;
}

.discription-product {
  color: #A7A7A7;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  margin: 0 0 auto 0;
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.vmodal.open .modal-overlay,
.vmodal.open .modal-window {
  opacity: 1;
  z-index: 1000;
}

.vmodal.hide .modal-overlay,
.vmodal.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}

.vmodal.open .modal-window {
  transform: translateY(100px);
}

.vmodal.open .modal-overlay {
  background: rgba(0, 0, 0, .5);
}

.vmodal.hide .modal-window {
  transform: translateY(-200px);
}

.vmodal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.modal-window,
.modal-overlay {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  transition: background .2s ease-in;
}

.modal-window {
  width: 600px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  transform: translateY(-200px);
  transition: transform .2s ease-in;
}

.modal-header {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 10px;
}

.modal-body p {
  margin: 0 0 5px;
}

.modal-footer {
  padding: 5px 10px;
  border-top: 1px solid #eee;
}